* text=auto

.gitignore text
.hgignore text
Dockerfile text
Procfile text

*.md text
*.txt text
*.xml text
*.apt text
*.html text
*.java text
*.yml text
*.json text
*.conf text
*.properties text

*.war binary
